{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- HANDLES THE BLOG PAGE -->
<div class="jumbotron pt-5 pb-1" style = "background-color: #FFFFF0;">
  <div class="container-fluid pt-3">
    <a href="{% url 'portfolio' %}" >Portfolio</a>
    <h1 class="jumbotron-heading" style = "color: #BC8F8F; text-transform: uppercase; font-weight:bold; text-align: center;">ech blog</h1>      <p class="lead text-muted" style = "color: #BC8F8F; text-transform:capitalize; text-align: center;">welcome to ECH blog!!!</p>  </div>
  </div>
<div class = "container-fluid pt-2 pb-2" style = "background-color: #BC8F8F; text-transform:uppercase; font-weight: bold; text-align: center; color: #FFFFF0">
  <h2>blog posts</h2>
</div>
<div class="album" style = "background-color: #BC8F8F;">
  <div class="container-fluid">
    <div class="row">
      {% for blog in blogs.all %}
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <h5 class="pt-3" style = "text-transform: uppercase; text-align: center;"><a href="{% url 'detail' blog.id %}">{{ blog.title }}</a></h5>
              <img class="card-img-top img-fluid" src="{{ blog.image.url }}" alt="Card image cap" height=100 width =100>
            <div class="card-body">
              <p class="card-text">{{ blog.summary }}</p>
              <hr>
              <p>{{ blog.pub_date_pretty }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
