{% extends 'main_create.html' %}
{% load static %}
{%load crispy_forms_tags %}
{% block content %}
<main role="main">
    <div class="container pt-3 pb-4" style = "text-align:center; text-transform: capitalize; color: #0487D5;">
        <h2>Create Blog Post </h2>
    </div>
    <div class="container-fluid row g-3 align-items-center pb-3" style = "background-color: #0487D5; color: #FFFFFF;width:auto;">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-outline-light">Create Post</button>
        </form>
    </div>
</main>
{% endblock %}