{% extends 'main_blogdetail.html' %}
{% load static %}
{% block content %}
<!-- HANDLES THE BLOG DETAILS -->
<div class="jumbotron pt-2 pb-1" style = "background-color: #FFFFFF;">
  <div class="container-fluid">
    <h1 class="jumbotron-heading" style = "color: #0487D5; text-transform: uppercase; font-weight:bold; text-align: center;">ech blog</h1>
  </div>
  <!-- HANDLES THE BLOG PAGE MINI-NAVBAR -->
  <div class="container-fluid pb-2">
    <a class="btn btn-outline-primary" href="{% url 'create' %}">Create BlogPost</a>
    <a class="btn btn-outline-primary" href="{% url 'blog' %}">Back"2"Blog</a>
  </div>
</div>
<div class="album pt-2" style = "background-color: #0487D5;text-align: justify;">
  <div class="container">
    <div class="row">
     <h4 style="color: #FFFFFF; text-transform: capitalize; text-align:center;">{{ blog.title }}</h4>
     <img class="card-img-top image-fluid" src="{{ blog.image.url }}" alt="Card image cap" height="400" width="300">
      <div class="card-body">
       <p class="card-text" style="font-size:18px; color: #FFFFFF; font-size: 20px;">{{ blog.body }}</p>
       <hr style = "color: #FFFFFF;">
       <p class="card-text" style="font-size:18px; color: #FFFFFF;">Created on {{ blog.pub_date_pretty }} by <span style = "text-transform: capitalize;">{{ user.username }}</span></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
