{% extends 'main_courses.html' %}
{% load static %}
{% block content %}
<div class="album" style="background-color: #FFFFFF;">
    <div class="container-fluid">
        <div class="container pt-2" style="text-align:center; color:#0487D5; ">
            <h1><span style="text-transform:uppercase;">Html5</span> course</h1>
        <div class="row">
            {% for html in htmls.all %}
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <h5 class="pt-3" style="text-transform: capitalize; text-align: center; font-size:18px;">{{ html.title }}</h5>
                    <img class="card-img-top" src="{{ html.image.url }}" alt="Card image cap" height=100 width=100>
                    <div class="card-body">
                        <p class="card-text" style="text-align: justify; color:black; ">{{ html.summary }}</p>
                        <hr>
                        <p><a class="btn btn-sm btn-outline-primary" href="{% url 'html_detail' html.id %}"
                                style="font-size: 12px;">study</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <p><a class="btn btn-sm btn-outline-primary" href="{% url 'codeacademy' %}" style="font-size: 16px;">Back "2" CodeAcademy</a>
            </p>
        </div>
     </div>
</div>
</div>
{% endblock %}