{% extends 'main_blog.html' %}
{% load static %}
{% block content %}
<!-- HANDLES THE BLOG PAGE -->
<div class="jumbotron" style="background-color: #FFFFFF;">
    <div class="container-fluid">
        <h1 class="jumbotron-heading"
            style="color: #0487D5; text-transform: uppercase; font-weight:bold; text-align: center;">ech blog</h1>
        <p class="lead text-muted" style="text-transform:capitalize; text-align: center; font-size: 15px;">welcome to
            ECH blog!!!</p>
    </div>
    <!-- HANDLES THE BLOG PAGE MINI-NAVBAR -->
    <div class="container-fluid pb-2">
        <a class="btn btn-outline-primary btn-sm" href="{% url 'create' %}" style="font-size: 12px;">Create BlogPost</a>
    </div>
</div>
<div class="container-fluid pt-2 pb-2"
    style="background-color: #0487D5; text-transform:capitalize; text-align: center; color: #FFFFFF">
    <h2 style="font-size:18px;">blog posts</h2>
</div>
<div class="album" style="background-color: #0487D5;">
    <div class="container-fluid">
        <div class="row">
            {% for html in htmls.all %}
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <h5 class="pt-3" style="text-transform: capitalize; text-align: center; font-size:15px;">{{ html.title }}</h5>
                    <img class="card-img-top" src="{{ html.image.url }}" alt="Card image cap" height=100 width=100>
                    <div class="card-body">
                        <p class="card-text">{{ html.summary }}</p>
                        <hr>
                        <p><a class="btn btn-sm btn-outline-primary" href="{% url 'html_detail' html.id %}"
                                style="font-size: 12px;">Study</a>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}